* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
.fa-2x,
h3 {
  color: #007bff;
}

body {
  background-color: rgb(234, 243, 243);
}

span {
  width: 65px;
}

.span-results {
  width: 150px;
}

.input-color {
  background-color: aliceblue !important;
}

.spinner,
.results-container {
  display: none;
}
